body {
}
.container {
  width: 1440px;
  background-color: hsl(212, 45%, 89%);
  margin: 0 auto;
  padding: 200px;
  width: 70%;
  height: 800px;
}
.content {
  /* width: 23%; */
  background-color: white;
  border-radius: 30px;
  max-width: 450px;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

img {
  border-radius: 25px;
  margin-bottom: 35px;
  width: 420px;
  height: 400px;
}

.content p {
  text-align: center;
  font-weight: 400;
}
